/WBZ451_BMI160_ML_Orientation/firmware/WBZ451_BMI160_ML_Orientation.X/.generated_files
/WBZ451_BMI160_ML_Orientation/firmware/WBZ451_BMI160_ML_Orientation.X/build
/WBZ451_BMI160_ML_Orientation/firmware/WBZ451_BMI160_ML_Orientation.X/debug
/WBZ451_BMI160_ML_Orientation/firmware/WBZ451_BMI160_ML_Orientation.X/dist
